In [0]:
import zipfile
f = zipfile.ZipFile("drive/My Drive/additional/train.zip")
f.extractall("./datasets")

In [5]:
import glob
import pandas as pd
catfs = glob.glob("datasets/train/cat.*.[jJ][pP][gG]")
catans = [0] * len(catfs)
dogfs = glob.glob("datasets/train/dog.*.[jJ][pP][gG]")
dogans = [1] * len(dogfs)
df = pd.DataFrame({
    "path":catfs + dogfs,
    "target":catans + dogans
})
df

                               path  target
0       datasets/train/cat.4115.jpg       0
1      datasets/train/cat.11655.jpg       0
2       datasets/train/cat.6859.jpg       0
3       datasets/train/cat.3702.jpg       0
4       datasets/train/cat.5833.jpg       0
...                             ...     ...
24995   datasets/train/dog.6919.jpg       1
24996  datasets/train/dog.12397.jpg       1
24997    datasets/train/dog.565.jpg       1
24998    datasets/train/dog.276.jpg       1
24999  datasets/train/dog.10588.jpg       1

[25000 rows x 2 columns]