In [1]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 1s 0us/step

In [0]:
import os
import glob
import pandas as pd

def read(fp):
    with open(fp, "r", encoding="utf-8") as f:
        content = f.read()
    return content

def read_data(base):
    pos = glob.glob(os.path.join(base, "pos", "*"))
    neg = glob.glob(os.path.join(base, "neg", "*"))
    df = pd.DataFrame({
        "path":(neg + pos),
        "target":([0]*len(neg) + [1] * len(pos))
    })
    df["content"] = df["path"].apply(read)
    return df

In [17]:
dirname = os.path.dirname(dataset)
base = os.path.join(dirname, "aclImdb", "train")
train_df = read_data(base)
base = os.path.join(dirname, "aclImdb", "test")
test_df = read_data(base)
test_df

                                                    path  ...                                            content
0      /root/.keras/datasets/aclImdb/test/neg/9801_2.txt  ...  In the 1940s, Veronica Lake made a meteoric ri...
1      /root/.keras/datasets/aclImdb/test/neg/6813_2.txt  ...  After reading the reviews I decided to rent th...
2      /root/.keras/datasets/aclImdb/test/neg/3265_1.txt  ...  This movie is so God-awful that it was literal...
3      /root/.keras/datasets/aclImdb/test/neg/7386_4.txt  ...  Even though this is the first film by the brok...
4      /root/.keras/datasets/aclImdb/test/neg/3918_1.txt  ...  I must admit that this is one of the worst mov...
...                                                  ...  ...                                                ...
24995  /root/.keras/datasets/aclImdb/test/pos/6384_10...  ...  I saw this movie at a screener and its the bes...
24996  /root/.keras/datasets/aclImdb/test/pos/9051_8.txt  ...  This 60min film shows just how much fun filmma...
24997  /root/.keras/datasets/aclImdb/test/pos/3995_9.txt  ...  It is not surprising that this film was made b...
24998  /root/.keras/datasets/aclImdb/test/pos/12320_1...  ...  The last film of John Huston, the great Americ...
24999  /root/.keras/datasets/aclImdb/test/pos/6083_10...  ...  I watched this movie when it was released and ...

[25000 rows x 3 columns]